langchain
langchain-community
chromadb==0.4.15
faiss-cpu==1.12.0
pypdf==6.0.0
selenium==4.35.0
beautifulsoup4==4.13.0
selenium
streamlit
unstructured[local]
sentence-transformers
langchain-huggingface